body{
    background-color: #000000;
  
}

section.Sobreosite{
    color: #ffffff;
    background-color: #414040;

}

section.Beanie-Chezile{
    color: #ffffff;
    background-color: #414040;
}

section.NoSurprise-Radiohead{
    color: #ffffff;
    background-color: #414040;
}

section.BohemianRhapsody-Queen{
    color: #ffffff;
    background-color: #414040;
}

p{
    color: #ffffff;
}

a{
    color: #ffffff;
}

h1{
    color: #ffffff;
}